.InputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 20px 0;
}

.InputElement {
  border-radius: 3px 0 0 3px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  font-family: inherit;
  padding: 0 0 0 10px;
}

.ButtonWithInput {
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  padding: 9px;
  height: 30px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.ButtonWithInput:hover {
  color: #90C557;
  transition-property: color;
  transition-duration: 0.5s;
}

.OldTags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

/*scrollbar*/
.OldTags::-webkit-scrollbar {
  width: 3px;
}
.OldTags::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 3px;
}
/*scrollbar*/

.TagName {
  font-size: 14px;
  font-weight: 300;
  margin: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.TagName:hover {
  color: #90C557;
  transition-property: color;
  transition-duration: 0.5s;
}