.ProfileMenu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: linear-gradient(-45deg, #d0021b, #de1171, #c254ba, #8481e6, #29a0ef);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite, fadein 1s;
  -moz-animation: Gradient 20s ease infinite, fadein 1s;
  animation: Gradient 20s ease infinite, fadein 1s;
}

.MainWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* animation background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
/* animation background */

.MainInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MainInformation input {
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  outline: none;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  caret-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0 10px;
}

.MainInformation input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.MainInformation input:-webkit-autofill,
.MainInformation input:-webkit-autofill:hover,
.MainInformation input:-webkit-autofill:focus {
  border: none;
  caret-color: rgba(255, 255, 255, 1);
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.AvatarWrapper {
  margin: 20px 0 14px 0;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.AvatarPhoto {
  width: 90px;
  position: absolute;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.AvatarPhoto img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ButtonsWrapper {
  width: 100%;
  margin: 10px 0 20px 0;
}

.ButtonsWrapper button {
  outline: none;
  border: none;
}

.SaveButton, .SignOutButton {
  letter-spacing: 1px;
  margin: 5px 0;
  font-size: 10px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 400;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition-property: background-color, color;
  transition-duration: 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.SaveButton:hover {
  background-color: rgba(144, 197, 87, 0.8);
  transition-property: background-color;
  transition-duration: 0.3s;
}

.SignOutButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(208, 2, 27, 0.8);
  transition-property: background-color, color;
  transition-duration: 0.3s;
}


/* SIGNOUT Menu */

.Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 20px 0 10px 0;
  text-align: center;
}

.SignOutWrapper {
  width: 90%;
}

