.PublicLists {
  margin: 20px 0;
}

.PublicLists h1 {
  display: inline-block;
  color: #d0021b;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 16px;
  margin: 0 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
}