.WebLinkBlockWrapper {
  width: 226px;
  padding-top: 226px;
  margin: 20px 14px;
  background-color:#ffffff;
  box-shadow: 1px 1px 8px rgba(83, 83, 83, 0.5);
  border-radius: 5px;
  position: relative;
  transition-property: width, padding-top, margin, opacity;
  transition-duration: 0.3s;
  cursor: pointer;
}

.WebLinkBlock.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
}

.WebLinkBlockWrapper.faded {
  width: 222px;
  padding-top: 222px;
  margin: 22px 16px;
  transition-property: transform, width, padding-top, margin, opacity;
  transition-duration: 0.3s;
  cursor: default;
}

.WebLinkBlockWrapper .WebLinkPicture {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  opacity: .9;
  z-index: 100;
  cursor: default;
}

.WebLinkBlockWrapper.hasHover:hover .WebLinkPicture {
  filter: grayscale(80%) brightness(0.5);
  transition-property: grayscale, brightness;
  transition-duration: 0.2s;
}

.WebLinkBlockWrapper.hasHover:hover .Domain {
  color: #D0021B;
  transition-property: color;
  transition-duration: 0.1s;
}

.TitleWrapper {
  display: flex;
  top: 50%;
  left: 0;
  height: 40%;
  width: 100%;
  position: absolute;
  align-items: center;
}

.WebLinkBlockWrapper h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 0;
  margin: 0 0 0 5%;
  width: 90%;
  user-select: text;
  letter-spacing: 1px;
}

.BottomLine {
  z-index: 300;
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: translateY(120%);
}

.BottomLine.hidden{
  display: none;
}

.WebLinkBlockWrapper.hasHover:hover .BottomLine {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear, transform 0.2s ease;
}

.Description {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  width: 80%;
  height: 20%;
  top : 15%;
  left: 10%;
  position: absolute;
  z-index: 400;
  transform: translateY(-120%);
}

.Description h3 {
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  user-select: text;
  margin: 0;
  padding: 0;
}


.WebLinkBlockWrapper.hasHover:hover .Description {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear, transform 0.2s ease-in-out;
}

.Buttons {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.Button {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
}

.Favicon {
  display: block;
  width: 20px;
  height: 20px;
  bottom : 10px;
  left: 10px;
  position: absolute;
  border-radius: 5px;
  user-select: none;
}

.Domain {
  display: block;
  width: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 0 0 5px 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #29a0ef;
  font-size: 14px;
}

/* TRASH  */

.TrashDescription {
  width: 100%;
  height: 50%;
  top : 0;
  left: 0;
  position: absolute;
  z-index: 300;
  align-items: center;
  justify-content: center;
  display: flex;
}

.TrashDescriptionWrapper {
  align-items: flex-start;
  display:  block;
}

.WebLinkBlockWrapper:hover .TrashDescriptionWrapper {
  transform: translateY(-50%);
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  opacity: 0;
  transition-property: transform, opacity;
}

.ListName {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
  letter-spacing: 1px;
  width: 100%;
  line-height: 18px;
}

.DaysQuantity {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
  line-height: 50px;
  letter-spacing: 1px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.BeforeDeleted {
  font-size: 16px;
  font-weight: 200;
  color: white;
  margin: 2% 0 0 0;
  padding: 0;
  line-height: 16px;
  letter-spacing: 2px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.WebLinkBlockWrapper .WebLinkPictureTrash {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  opacity: .8;
  z-index: 100;
  filter: blur(4px) grayscale(60%) brightness(0.7);
}

.TrashButtons {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.TrashButtonWrapper {
  z-index: 300;
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: translateY(120%);
}


.WebLinkBlockWrapper:hover .TrashButtonWrapper {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear, transform 0.5s ease;
}
