.WebLinkBlockWrapper {
  width: 220px;
  padding-top: 220px;
  margin: 20px 25px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(83, 83, 83, 0.5);
  border-radius: 5px;
  position: relative;
}

.WebLinkBlock {
  cursor: pointer;
  transition-property: width, padding-top, margin;
  transition-duration: 0.2s;
}

.WebLinkBlock.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.WebLinkBlockWrapper.faded {
  width: 200px;
  padding-top: 200px;
  margin: 30px 35px;
  transition-property: transform, width, padding-top, margin;
  transition-duration: 0.4s;
}

.WebLinkBlock .WebLinkPicture {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  opacity: .8;
  z-index: 100;
  user-select: none ;
}

.WebLinkBlock.hasHover:hover .WebLinkPicture, .WebLinkBlock.hasHover:hover .Favicon {
  filter: blur(4px) grayscale(60%) brightness(0.7);
  transition-property: blur, grayscale, brightness;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.WebLinkBlock.hasHover:hover .Domain {
  color: #D0021B;
  transition-property: color;
  transition-duration: 0.1s;
}


.TitleWrapper {
  display: flex;
  top: 50%;
  left: 0;
  height: 40%;
  width: 100%;
  position: absolute;
  align-items: center;
  user-select: none;
}

.WebLinkBlock h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  color: #535353;
  font-size: 20px;
  padding: 0;
  margin: 0 0 0 5%;
  width: 90%;
  user-select: text;
}

.BottomLine {
  z-index: 300;
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: translateY(120%);
  user-select: none;
}

.WebLinkBlock.hasHover:hover .BottomLine {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear, transform 0.5s ease;
}

.Description {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  width: 80%;
  height: 20%;
  top : 15%;
  left: 10%;
  position: absolute;
  z-index: 400;
  transform: translateY(-120%);
}

.Description h3 {
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  user-select: text;
}


.WebLinkBlock.hasHover:hover .Description {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s ease-in-out;

}

.Buttons {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.Button {
  margin: 1px 0;
  cursor: pointer;
  display: block;
  width: 23px;
  height: 23px;
}


.Favicon {
  display: block;
  width: 15%;
  height: 15%;
  margin: 0 2% 0 0;
  top : 3%;
  left: 3%;
  position: absolute;
  background-color: white;
  border-radius: 25%;
  box-sizing: content-box;
  z-index: 200;
  user-select: none;
}

.DomainWrapper {

}

.Domain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0%;
  padding-top: 6px;
  padding-bottom: 6px;
  left: 0;
  text-align: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  padding-left: 15px;

  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 16px;
  color: #29a0ef;
  font-size: 16px;
}

/* TRASH  */

.TrashDescription {
  width: 100%;
  height: 50%;
  top : 0;
  left: 0;
  position: absolute;
  z-index: 300;
  align-items: center;
  justify-content: center;
  display: flex;
}

.TrashDescriptionWrapper {
  align-items: flex-start;
  display:  block;
}

.WebLinkBlock:hover .TrashDescriptionWrapper {
  transform: translateY(-50%);
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  opacity: 0;
  transition-property: transform, opacity;
}

.ListName {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
  letter-spacing: 1px;
  width: 100%;
  line-height: 18px;
}

.DaysQuantity {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin: 0 0 0 0;
  padding: 0;
  line-height: 50px;
  letter-spacing: 1px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.BeforeDeleted {
  font-size: 16px;
  font-weight: 200;
  color: white;
  margin: 2% 0 0 0;
  padding: 0;
  line-height: 16px;
  letter-spacing: 2px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.WebLinkBlock .WebLinkPictureTrash {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  opacity: .8;
  z-index: 100;
  filter: blur(4px) grayscale(60%) brightness(0.7);
}

.TrashButtons {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.TrashButtonWrapper {
  z-index: 300;
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: translateY(120%);
}


.WebLinkBlock:hover .TrashButtonWrapper {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear, transform 0.5s ease;
}
