.MainNavBar {
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #eee;
  height: 70px;
}

.MainNavBarButtons {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*отступ справа всего MainNavBar*/
  margin-right: 40px;
}

.Plus img, .Search img, .Notifications img, .Person img  {
  display: block;
  width: 20px;
  padding: 3px;
  margin: 8px;
  cursor: pointer;
  box-sizing: content-box;
}

.Plus img, .Notifications img, .Person img {
  display: block;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 8px;
  cursor: pointer;
  box-sizing: content-box;
}

.LogoImage {
  width: 30px;
}

.LogoText {
  font-weight: 400;
  font-size: 18px;
  color: #535353;
  margin-left: 12px;
}

.LogoKeepYourLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.SearchInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  margin-left: 20px;
}

.SearchInput input {
  padding: 5px;
  height: 20px;
  width: 100%;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  border: 0;
  box-sizing: content-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: #535353;
  font-size: 16px;
  font-weight: 400;
}

.SearchInput img {
  padding: 5px 5px 5px 12px;
  height: 20px;
  margin: 0 0 0 20px;
  background-color: #eee;
  border-radius: 5px 0 0 5px;
  box-sizing: content-box;
}