.MainNavBar {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #EEEEEE;
  height: 60px;
}

.SearchInput {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  opacity: 0.8;
}

.SearchInput input {
  padding: 5px;
  height: 16px;
  width: 100%;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  border: 0;
  box-sizing: content-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: #535353;
  font-size: 14px;
  font-weight: 400;
}

.SearchInput form {
  width: 100%;
}

.LogoImage {
  width: 26px;
}

.LogoText {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #535353;
  margin-left: 10px;
}

.LogoKeepYourLinkWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogoKeepYourLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  cursor: pointer;
  opacity: 0.7;
}

.LogoKeepYourLink:hover {
  opacity: 1;
}

.MainNavBarButtons {
  position: absolute;
  right: 40px;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.BurgerButton {
  position: absolute;
  left: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.BurgerButton img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}